.cards {
	
	a {
		color: #000;
	}

	h3 {
    	padding-bottom: 15px;
	}
	
	.card {
		display: flex;
		margin-right: 20px;
		width: calc(33.3333% - 20px);
		height: auto;
	}
}

@media (max-width: 1023px) {
    .cards .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .cards .row .row {
        justify-content: center;
        margin-right: 0;
    }
    
    .cards .card {
        width: 100%;
        max-width: 400px;
        margin-right: 0;
    }
}