/** Base Styles **/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,7000');

.editor-block-list__layout,
.editor-styles-wrapper {
  font-family: Helvetica, Arial, sans-serif;
  color: $color-charcoal;
}

.editor-block-list__layout {
  overflow-x: hidden;
}

.editor-block-list__layout h1,
.editor-block-list__layout h2,
.editor-block-list__layout h3,
.editor-block-list__layout h4,
.editor-block-list__layout h5,
.editor-block-list__layout h6,
.editor-post-title .editor-post-title__input {
  font-family: 'Roboto', sans-serif;
  color: $color-charcoal;
}

.wp-block {
  max-width: 90%;
  width: 1200px;
}

.wp-block .acf-block-body {
  margin-bottom: 30px;
}

.wp-block .acf-block-preview button,
.wp-block .acf-block-preview .button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  text-transform: uppercase;
  padding: 12px 26px;
  background: #d1db2d;
  color: $color-charcoal;
  display: inline-block;
  opacity: 1;
  height: auto;
  vertical-align: middle;
  pointer-events: none;
}
.wp-block .acf-block-preview .button.button-blue {
  text-transform: none;
  color: $color-white;
  padding: 15px 20px;
  text-align: center;
  background-color: #134f71;
}

.wp-block .acf-block-preview a {
  pointer-events: none;
}

/** Headings **/
#story h2,
#people h2,
#partners h2,
#locations h2,
#highlights h2,
#product-features h2,
#tryfree h2,
.homepage-intro .intro-content h1,
.homepage-blog h2.bottom-line,
h2.section-title {
  font-size: 32px;
  line-height: 1.2;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}

#story h2::after,
#people h2::after,
#partners h2::after,
#locations h2::after,
#highlights h2::after,
#product-features h2::after,
#tryfree h2::after,
.homepage-intro .intro-content h1::after,
.homepage-blog h2.bottom-line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  border-bottom: 1px solid #d1da2b;
  width: 460px;
  max-width: 90%;
}
[data-type^="acf/"] hr.sep {
  display: none;
}

/** ACF editor styles **/
[data-type^="acf/"] .mce-edit-area > iframe {
  height: 150px !important;
  min-height: 150px;
}
[data-type^="acf/"] .acf-field-wysiwyg .acf-input {
  margin-top: -30px;
}
[data-type^="acf/"] .acf-field-wysiwyg .wp-media-buttons,
[data-type^="acf/"] .acf-field-wysiwyg .wp-media-buttons + .wp-editor-tabs {
  margin-top: 30px;
}

/** Homepage **/
.homepage-intro .intro-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.homepage-featured-products .row {
  display: flex;
}

.homepage-featured-products .featured-product {
  width: calc(100% / 3);
  text-align: center;
}
.homepage-featured-products .featured-product a {
  color: $color-charcoal;
  text-decoration: none;
}
.homepage-featured-products .featured-product img {
  width: auto;
  max-width: 60%;
  max-height: 135px;
  margin-bottom: 15px;
}
.homepage-featured-products .featured-product h3 {
  font-size: 20px;
  margin-bottom: 15px;
  margin: 0;
  padding: 0;
}
.homepage-featured-products .featured-product span {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #125071;
  padding-bottom: 3px;
  position: relative;
}
.homepage-featured-products .featured-product span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #125071;
}

.homepage-blog .primary-post {
  display: flex;
  margin-bottom: 40px;
}
.homepage-blog .primary-post .columns-6 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.homepage-blog .primary-post .columns-6:first-child {
  justify-content: center;
}
.homepage-blog .primary-post a {
  text-decoration: none;
}
.homepage-blog .primary-post h4 {
  font-size: 30px;
  line-height: 1.3;
  margin: 0 0 10px;
  padding: 0;
}
.homepage-blog .date {
  color: #444;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  letter-spacing: .025em;
  display: block;
}
.homepage-blog .primary-post .read-more {
  color: #125071;
  font-family: 'Roboto',sans-serif;
  position: relative;
  padding-bottom: 3px;
  text-transform: uppercase;
}
.homepage-blog .primary-post .read-more::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #125071;
}
.homepage-blog .secondary-posts {
  padding-top: 40px;
  border-top: 1px solid #ddd;
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.homepage-blog .secondary-posts a {
  text-decoration: none;
}
.homepage-blog .secondary-posts h3 {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 20px;
}
.homepage-blog .secondary-posts .columns-6 {
  width: calc(50% - 10px);
  margin: 0;
  background: #f8f8f8;
  padding: 30px;
}
.homepage-blog .secondary-posts h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px;
  padding: 0;
}

.homepage-testimonial .testimonial-wrapper {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.homepage-testimonial .testimonial-wrapper h3 {
  font-size: 28px;
}
.homepage-testimonial .testimonial-wrapper a {
  color: $color-charcoal;
}
.homepage-testimonial .testimonial-wrapper .quote {
  font-style: italic;
}
.homepage-testimonial .testimonial-wrapper .citation {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 28px;
  font-size: 28px;
}


/** About Page **/

/** Our Story **/
#story {
  text-align: center;
}

/** Executives **/
#people {
  text-align: center;
}

.people .block-grid-3 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.people .person {
  width: 31%;
  display: block;
  padding: 0 15px;
}

.people .person .overlay,
.people .person .bio-mask,
.people .person .bio-modal {
  display: none !important;
}

.people .person h3,
.people .person p {
  margin: 0;
}

.people .job-title {
  line-height: 1.3;
}

/** Partners **/
#partners,
#partners-callout {
  text-align: center;
}

#partners {
  padding-bottom: 20px;
}

#partners .partners-logos {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

#partners .partners-logos li {
  width: 15%;
}

#partners-callout .button {
  margin-left: 15px;
}

/** Locations **/
#locations {
  text-align: center;
}

.locations-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.locations-wrap .location {
  width: 48%;
  margin-bottom: 2%;
  border: 2px solid #ddd;
  padding: 15px;
  text-align: left;
  background-size: 50%;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.locations-wrap .location h3,
.locations-wrap .location .contact {
  margin: 0;
}

.locations-wrap .location .address {
  margin-top: 0;
}

/** Highlights **/
#highlights {
  text-align: center;
}

#highlights > .row {
  position: relative;
  overflow: hidden;
}
#highlights > .row::after {
  content: '';
  background: linear-gradient(to bottom, transparent 0%, $color-white 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 5;
}

#highlights h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 80px;
  margin: 0 auto 24px;
  background: $color-charcoal;
  color: #d1db2d;
  border-radius: 3px;
  padding: 10px;
  clear: both;
  position: relative;
  z-index: 2;
}

#highlights p {
  margin: 0;
}

#highlights ul {
  list-style: none;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  margin-bottom: 30px;
  position: relative;
}

#highlights ul::after {
  content: '';
  position: absolute;
  top: -24px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 0;
  border-left: 1px solid #d8d8d8;
}

#highlights ul li {
  width: calc(50% - 45px);
  padding: 0;
  margin: 0;
  position: relative;
  clear: both;
  float: left;
}

#highlights ul li:nth-child(odd) {
  float: left;
  text-align: right;
  padding-left: 10%;
}
#highlights ul li:nth-child(even) {
  float: right;
  text-align: left;
  padding-right: 10%;
}

#highlights ul li::after {
  content: '';
  height: 10px;
  width: 10px;
  display: block;
  background: #d1db2d;
  position: absolute;
  top: 6px;
  border-radius: 50%;
}
#highlights ul li::after {
  left: -10px;
}

#highlights ul li:nth-child(odd)::after {
    right: -50px;
    left: auto;
}
#highlights ul li:nth-child(even)::after {
    left: -50px;
}
#highlights ul li p {
  font-size: 14px;
  padding-bottom: 10px;
}
#highlights ul li a {
  font-weight: bold;
}

#highlights .show-more,
#highlights .show-more-button,
#highlights .more-highlights {
  display: none;
}

/** Contact Page **/
.contact-info-wrap .contact-info {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 66.67%;
  margin: 0 auto;
  padding: 0;
}
.contact-info-wrap .contact-info > li {
  width: 50%;
  padding: 0 15px;
}
.contact-info-wrap .contact-info .numbers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-info-wrap .contact-info .numbers li {
  display: flex;
}
.contact-info-wrap .contact-info .numbers .label {
  font-weight: bold;
  width: 30%;
}

.support-redirect {
  background: #f8f8f8;
  padding: 30px;
  text-align: center;
}
.support-redirect h3 {
  margin: 0;
}


/** Product Overview **/
#product-banner {
  margin-bottom: 60px;
}
#product-banner > .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#product-banner > .row > div {
  width: 50%;
}

#product-banner .product-banner-text {
  padding-right: 40px;
}
#product-banner h1 {
  font-size: 32px;
  margin: 0 0 24px;
}

#product-banner .laptop-wrap {
  position: relative;
}
#product-banner .laptop-wrap::before {
  content: '';
  background: url('../../images/spec-laptop.png');
  background-repeat: no-repeat;
  background-size: 732px;
  position: absolute;
  width: 732px;
  height: 388px;
  z-index: 2;
}
#product-banner .laptop-wrap img {
  position: relative;
  top: 21px;
  left: 82px;
  width: 568px;
  max-width: none;
}

/** Product Benefits **/
#product-benefits .product-benefits-wrap {
  list-style: none;
  margin: 0;
  padding: 0;
}
#product-benefits .product-benefits-wrap > li {
  border: 2px solid #ddd;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#product-benefits .product-benefits-wrap > li .benefit-title {
  width: 33.33%;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  position: relative;
  right: -1px;
  text-align: center;
}
#product-benefits .product-benefits-wrap > li .benefit-content {
  width: 66.67%;
  padding-left: 20px;
  border-left: 1px solid #ddd;
}
#product-benefits .benefit-title img {
  width: 80px;
  margin-bottom: 12px;
}
#product-benefits .benefit-title h2 {
  font-size: 26px;
  line-height: 1.2;
  margin: 0;
}
#product-benefits .product-benefits-wrap .more-content {
  display: none !important;
}
#product-benefits .product-benefits-wrap .read-more {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

#product-cta > .row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
#product-cta .button {
  margin-left: 20px;
}

/** Product Features **/
#product-features h2 {
  text-align: center;
}
#product-features .product-features-wrap ul {
  column-count: 2;
}
#product-features .product-features-wrap ul li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  margin-bottom: 15px;
}

/** Product Form **/
#tryfree {
  text-align: center;
}
#tryfree .product-form-wrap {
  opacity: 0.5;
  pointer-events: none;
  position: relative;
  height: 400px;
  overflow: hidden;
}
#tryfree .product-form-wrap::after {
  content: '';
  background: linear-gradient(to bottom, transparent 0%, $color-white 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 5;
}
#tryfree .product-form-wrap iframe {
  height: 1200px;
  overflow: hidden;
}

/** Product Sticky Bottom Bar **/
#product-sticky-footer {
  position: relative;
  padding-top: 30px;
}

#product-sticky-footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  display: block;
  border-top: 5px dashed #ddd;
}
#product-sticky-footer .product-sticky-footer-wrapper {
  max-height: 240px;
  position: relative;
  overflow: hidden;
}
#product-sticky-footer .product-sticky-footer-wrapper::after {
  content: '';
  background: linear-gradient(to bottom, transparent 0%, $color-white 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 5;
}
#product-sticky-footer .product-sticky-footer-wrapper > .row {
  display: flex;
  align-items: flex-start;
}

#product-sticky-footer .product-sticky-footer-title h2 {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
}

#product-sticky-footer .tab-panel {
  width: 66.7%;
}
#product-sticky-footer .tab-panel:not(:first-child) {
  display: none;
}
#product-sticky-footer .tab-panel > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#product-sticky-footer .tab-panel > ul > li {
  width: 50%;
  padding-right: 5%;
}

#product-sticky-footer .product-footer-tabs {
  width: 33.3%;
  background: #fafafa;
  border: 1px solid #d4d4d4;
  padding: 8px 20px;
  margin: 0;
  list-style: none;
}
#product-sticky-footer .product-footer-tabs li {
  color: #164865;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: 400;
  pointer-events: none;
}
#product-sticky-footer .product-resource-list a {
  display: block;
  overflow: hidden;
  text-decoration: none;
}
#product-sticky-footer .product-resource-list .resource-thumb-wrap {
  float: left;
  width: 80px;
  height: 80px;
  background: #eee;
}

#product-sticky-footer .product-resource-list img {
  width: 80px;
}
#product-sticky-footer .product-resource-list h3 {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.5;
  color: #164865;
  padding-left: 95px;
  padding-bottom: 45px;
  margin: 0;
}

#product-sticky-footer #product-reviews li h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 16px;
  margin: 0;
}
#product-sticky-footer #product-reviews li p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-top: 0;
}

#product-sticky-footer .row > #product-related li {
  padding-bottom: 20px;
}
#product-sticky-footer .row > #product-related h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  padding-bottom: 12px;
  margin: 0;
}
#product-sticky-footer .row > #product-related h3 a {
  text-decoration: none;
}
#product-sticky-footer .row > #product-related p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

/** Docs Accordion **/
.accordion section {
  background: #f8f8f8;
  margin-bottom: 5px;
}
.accordion section .title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 4px 20px;
  position: relative;
  background: #ddd;
}
.accordion section:first-child .title {
  background: #d1db2d;
}
.accordion section .title::after {
  content: '+';
  font-size: 32px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.accordion section:first-child .title::after {
  content: '\00d7';
}
.accordion section .content {
  padding: 10px 20px 20px;
}
.accordion section:not(:first-child) .content {
  display: none;
}
.accordion section .content ul,
.accordion section .content ol {
  padding-left: 18px;
}

.search-page-wrap {
  overflow: hidden;
}
.search-page-wrap .search-input-wrap {
  display: block;
  float: left;
  position: relative;
}
.search-page-wrap .search-input-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  width: 24px;
  background-image: url('../../images/spec-search-icon.png');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center right;
}
.search-page-wrap input[type="search"].search-page {
  height: 50px;
  width: 400px;
  max-width: 100%;
  border-radius: 0;
  border: 1px solid #747474;
  background: #f8f8f8;
  font-size: 16px;
  padding: 5px 50px 5px 10px;
}

/** Docs Callout, Doct Related Content **/
.callout-wrapper,
.related-articles {
  padding: 20px;
  background: #f8f8f8;
}
.callout-wrapper h3,
.related-articles span {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: bold;
  display: block;
}
.callout-wrapper ul,
.related-articles ul {
  padding-left: 18px !important;
}


/** Case Studies **/
#case-studies-reviews .case-studies-reviews-heading {
  text-align: center;
  margin-bottom: 5px;
}
#case-studies-reviews .case-studies-reviews-heading h2 {
  font-size: 32px;
  padding: 0;
  margin: 0 0 10px;
}
#case-studies-reviews .case-studies-reviews-listing {
  position: relative;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10%;
  column-gap: 10%;
}
#case-studies-reviews .case-studies-reviews-listing::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid $color-white;
  z-index: 2;
}
#case-studies-reviews .review {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  margin-bottom: 15px;
  padding-top: 40px;
  border-top: 1px solid #d4d4d4;
}
#case-studies-reviews .review:first-child {
    padding-top: 15px;
}
#case-studies-reviews .review p {
  color: #454545;
  font-weight: 400;
  line-height: 1.6;
}
#case-studies-reviews .review-product {
  color: $color-white;
  background: #125071;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: italic;
  line-height: 1.3;
  border-radius: 3px;
  padding: 4px 10px;
  margin-bottom: 8px;
  display: inline-block;
}
#case-studies-reviews .review-title {
  color: #454545;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0 0 24px;
}
#case-studies-reviews .review-title a {
  color: inherit;
  text-decoration: none;
}

/** Single Case Studies Pages **/
.case-info-wrapper {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
}
.case-info-wrapper .case-study-organization-country {
    width: 36%;
    padding-right: 20px;
}
.case-info-wrapper .case-study-goals-results {
    width: 64%;
    padding-left: 20px;
}
.case-info-wrapper p {
  line-height: 1.4;
  padding-bottom: 12px;
}

.case-banner {
  width: calc(100% - 30px);
  max-width: 1185px;
  margin-top: 75px;
}
.case-banner > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #115071;
  padding: 0 38px 0 8px;
  height: 136px;
  overflow: hidden;
}
.case-banner .button {
  text-align: center;
  width: 270px;
  height: 60px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.case-banner .case-banner-img {
  width: 270px;
  padding-top: 48px;
}
.case-banner .case-banner-blurb {
  color: $color-white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  width: calc(100% - (270px * 2));
  padding: 15px 30px;
  line-height: 1.3;
}
.case-banner .case-study-link {
  width: 270px;
}

/** Pillar Pages **/
.pillar-section {
  position: relative;
  padding: 70px 0;
  margin-bottom: -62px;
}
.pillar-section.blue {
  background: #d6e7f7;
}
.pillar-section.gray {
  background: #f2f2f4;
}
.pillar-section::before,
.pillar-section::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
  z-index: -1;
}
.pillar-section::before {
  left: -9999px;
}
.pillar-section::after {
  right: -9999px;
}
.pillar-section.blue::before,
.pillar-section.blue::after {
  background: #d6e7f7;
}
.pillar-section.gray::before,
.pillar-section.gray::after {
  background: #f2f2f4;
}

.pillar-section .row {
  display: flex;
  justify-content: center;
}
.pillar-section .row .columns-8 {
  width: 66.66667%;
  padding: 0 20px;
}
.pillar-section .row .columns-4 {
  width: 33.33333%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.pillar-section .row .col-left {
  order: -1;
}

.pillar-section h2 {
  font-size: 32px;
  line-height: 1.2;
  margin: 0 0 24px;
}
.editor-block-list__layout > .wp-block:first-child .pillar-section h2 {
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.pillar-section .pillar-body-text ul,
.pillar-section .pillar-body-text ol {
  padding-left: 15px;
}

.pillar-section .pillar-image {
  align-self: flex-start;
  width: 100%;
}
.pillar-section .pillar-pullquote {
  display: block;
  align-self: flex-end;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: .015em;
  border-left: 8px solid #d1da2b;
  padding-left: 24px;
  margin-bottom: 20px;
  width: 100%;
}

.partners .partners {
  margin-bottom: 20px;
}
.partners .partners h5 {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 15px;
}
.partners .partners h5 a {
  color: #115071;
  text-decoration: none;
}
.partners .partners .read-more {
  color: #d1da2b;;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/**
 * Feature Partners
 **/
 .section-title {
   padding-top: 40px;
 }

.partner {
  height: 400px;
}

.partner .partner-logo {
  width: 40%;
  float: left;
}

.partner .partner-info {
  float: right;
  width: 60%;
}

.card {
  display: inline-block;
  width: 30%;
  margin-right: 10px;
}

.card h3 {
  font-size: 1vw;
}

.cards {
  padding-bottom: 50px;
}

.cards::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -999px;
  width: 999px;
  background:inherit;
}

.cards::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -999px;
  width: 999px;
  background: inherit;
}

.datasheet-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-lightgrey-alt;
  padding: 2em 0;
  width: 100%;

  &:first-of-type {
    margin-top: 3em;
    padding-top: 4em;
  }

  &:last-of-type {
    margin-bottom: 3em;
    padding-bottom: 3em;
  }

  h3 {
      margin-bottom: 12px;
      padding: 0;
  }
  p {
      text-align: center;
      font-size: 1rem;
      font-weight: 300;
      width: 60%;
      margin-bottom: 12px;
  }

  .datasheet-block table {
    width: 100%;
    border-collapse: collapse;
    font-size: .875rem;
  }

.datasheet-block table > thead {
    color: #ffffff;
    background-color: #103F59;
}

div.editor-block-list__block-edit.block-editor-block-list__block-edit table > thead {
  background-color: #103f59;
  color: #ffffff;
}
