.single-post {
  ul {
    font-family: $font-family-secondary-alt-sans;
  }

	.post-intro {
		padding-top: 30px;
		.featured-image {
			display: block;
			float: right;
			max-width: 360px;
			padding-left: 15px;
			padding-bottom: 15px;
		}
		ul {
			a {
				text-decoration: underline;
			}
		}
	}
	h1 {

		font-weight: 700;
		font-size: 28px;
		font-size: 1.75rem;
		color: #125071;
		line-height: 1;
		margin: 0;
		padding-bottom: 25px;
	}
	h2 {

		font-weight: 700;
		font-size: 24px;
		font-size: 1.5rem;
		color: $color-charcoal;
		line-height: 1;
		margin: 0;
		padding-bottom: 25px;
	}
	h3 {

    font-style: normal;
		font-weight: 300;
		font-size: 22px;
		font-size: 1.25rem;
		color: $color-charcoal;
		line-height: 1;
		margin: 0;
		padding-bottom: 25px;
	}
	h4 {

		font-weight: 300;
		font-size: 20px;
		font-size: 1.15rem;
		color: $color-charcoal;
		line-height: 1;
		margin: 0;
		padding-bottom: 25px;
	}
	h5 {
		font-weight: 700;
		font-size: 18px;
		font-size: 1.0rem;
		color: $color-charcoal;
		line-height: 1;
		margin: 0;
		padding-bottom: 25px;
	}
	.entry-date {

		font-weight: 700;
		font-size: 14px;
		font-size: 0.875rem;
	}
	.back-nav-wrapper {
		padding: 15px 25px;
		background: #f4f4f4;
		margin-bottom: 25px;
		.social-sharing {
			display: inline-block;
			padding-top: 10px;
			.share-label {
				display: inline-block;
				font-weight: bold;
				font-size: 14px;
				font-size: 0.875rem;
				text-transform: uppercase;
				margin-right: 15px;
				padding-bottom: 0;
			}
			ul {
				display: inline-block;
				vertical-align: middle;
				padding: 0;
				margin: 0;
				list-style: none;
			}
			li {
				display: inline-block;
				vertical-align: bottom;
			}
			li+li {
				margin-left: 15px;
			}
			a {
				display: block;
				font-size: 22px;
				font-size: 1.375rem;
				line-height: 20px;
				color: #115071;
				&:hover {
					color: #747474;
				}
			}
		}
		.back-to {
			float: right;
			color: #115071;
			font-weight: bold;
			padding-top: 15px;
			text-decoration: none;
		}
	}
	.navigation-post {
		padding: 15px 0;
		margin-bottom: 20px;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		a {
			text-decoration: none;
			font-weight: 500;
			line-height: 1.3;
			color: #125071;
		}
		.nav-previous {
			position: relative;
			max-width: 33.33333%;
			float: left;
			padding-left: 25px;
			&:before {
				content: "";
				border: 5px solid transparent;
				border-right-color: #747474;
				position: absolute;
				display: block;
				top: 5px;
				left: 0;
			}
		}
		.nav-next {
			position: relative;
			max-width: 33.33333%;
			float: right;
			text-align: right;
			padding-right: 25px;
			&:before {
				content: "";
				border: 5px solid transparent;
				border-left-color: #747474;
				position: absolute;
				display: block;
				top: 5px;
				right: 0;
			}
		}
	}
}

@media screen and (max-width:1050px) {

    .single-post {
        .post-intro {
            width: 83.33333%;
            float: none;
            margin-left: auto;
            margin-right: auto;
            left: 0;
        }
    }
}

@media screen and (max-width:500px) {
    .single-post {
        .content-area {
            [class*=columns-] {
                position: static;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:800px) {
    .single-post {
        .back-nav-wrapper {
            .social-sharing {
                display: block;
                padding-left: 0 !important;
                padding-top: 15px;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .single-post {
        .post-intro {
            .featured-image {
                float: none;
                max-width: 100%;
                padding: 0 0 30px 0;
                margin: 0 0 15px !important;
            }
            width: 91.66667%;
        }

        .back-nav-wrapper {
            .back-to {
                float: none;
                text-align: center;
                display: block;
            }
            .social-sharing {
                text-align: center;
            }
        }

        .navigation-post {
            .nav-previous {
                max-width: none;
                padding-bottom: 15px;
            }
            .nav-next {
                max-width: none;
            }
        }
    }
}
