.page-template-pages_careers-php .career-intro{
    background:#ededed;
    padding:60px 20px 45px;
    margin-bottom:25px
}
.page-template-pages_careers-php .careers .row{
    padding-bottom:50px
}
.page-template-pages_careers-php .careers .row h2 a{
    color:#303232
}
.page-template-pages_careers-php .careers .row h2 a:hover{
    color:#d1db2d
}
.single-careers .careers-redirect{
    padding-bottom:35px;
    display:block
}