$base-color: #0B2325;
$highlight-color: #37B5C4;
$notification-color: #fff;
$action-color: #37B5C4;

// dark green #0B2325
// light blue #37B5C4
// highlight  #fff
// pale blue  #9ADCE1

@import "admin";