.row {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    *zoom: 1;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    &:before {
        content: "";
        display: table;
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
        max-width: none;
        width: auto;
        *zoom: 1;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        &:before {
            content: "";
            display: table;
        }
    }
}

[class*=columns-] {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

[class*=columns-].column-center {
    float: none;
    margin: 0 auto;
}

.columns-1 {
    width: 8.33333%;
}

.columns-2 {
    width: 16.66667%;
}

.columns-3 {
    width: 25%;
}

.columns-4 {
    width: 33.33333%;
}

.columns-5 {
    width: 41.66667%;
}

.columns-6 {
    width: 50%;
}

.columns-7 {
    width: 58.33333%;
}

.columns-8 {
    width: 66.66667%;
}

.columns-9 {
    width: 75%;
}

.columns-10 {
    width: 83.33333%;
}

.columns-11 {
    width: 91.66667%;
}

.columns-12 {
    width: 100%;
}

[class*=left-] {
    position: relative;
}

[class*=right-] {
    position: relative;
}

.left-1 {
    position: relative;
    right: 8.33333%;
}

.left-2 {
    position: relative;
    right: 16.66667%;
}

.left-3 {
    position: relative;
    right: 25%;
}

.left-4 {
    position: relative;
    right: 33.33333%;
}

.left-5 {
    position: relative;
    right: 41.66667%;
}

.left-6 {
    position: relative;
    right: 50%;
}

.left-7 {
    position: relative;
    right: 58.33333%;
}

.left-8 {
    position: relative;
    right: 66.66667%;
}

.left-9 {
    position: relative;
    right: 75%;
}

.left-10 {
    position: relative;
    right: 83.33333%;
}

.left-11 {
    position: relative;
    right: 91.66667%;
}

.left-12 {
    position: relative;
    right: 100%;
}

.right-1 {
    position: relative;
    left: 8.33333%;
}

.right-2 {
    position: relative;
    left: 16.66667%;
}

.right-3 {
    position: relative;
    left: 25%;
}

.right-4 {
    position: relative;
    left: 33.33333%;
}

.right-5 {
    position: relative;
    left: 41.66667%;
}

.right-6 {
    position: relative;
    left: 50%;
}

.right-7 {
    position: relative;
    left: 58.33333%;
}

.right-8 {
    position: relative;
    left: 66.66667%;
}

.right-9 {
    position: relative;
    left: 75%;
}

.right-10 {
    position: relative;
    left: 83.33333%;
}

.right-11 {
    position: relative;
    left: 91.66667%;
}

.right-12 {
    position: relative;
    left: 100%;
}

[class*=block-grid-] {
    display: block;
    margin: 0 -15px 15px -15px;
    padding: 0;
    >li {
        display: block;
        float: left;
        height: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.block-grid-1 {
    >li {
        width: 100%;
        &:nth-of-type(1n+1) {
            clear: both;
        }
    }
}

.block-grid-2 {
    >li {
        width: 50%;
        &:nth-of-type(odd) {
            clear: both;
        }
    }
}

.block-grid-3 {
    >li {
        width: 33.33333%;
        &:nth-of-type(3n+1) {
            clear: both;
        }
    }
}

.block-grid-4 {
    >li {
        width: 25%;
        &:nth-of-type(4n+1) {
            clear: both;
        }
    }
}

.block-grid-5 {
    >li {
        width: 20%;
        &:nth-of-type(5n+1) {
            clear: both;
        }
    }
}

.block-grid-6 {
    >li {
        width: 16.66667%;
        &:nth-of-type(6n+1) {
            clear: both;
        }
    }
}

.block-grid-7 {
    >li {
        width: 14.28571%;
        &:nth-of-type(7n+1) {
            clear: both;
        }
    }
}

.block-grid-8 {
    >li {
        width: 12.5%;
        &:nth-of-type(8n+1) {
            clear: both;
        }
    }
}