#header-topbar {
    background: $color-charcoal;
    color: $color-white;
    padding: 20px 0;
    position: static;
    width: 100%;
    .columns-12 {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#header-main {
    background: $color-lightgrey;
    max-height: 100px;
    position: relative;
    left: 0px;
    right: 0px;
    padding: 20px 0px;
    z-index: 100;
    .site-branding {
        float: left;
    }
    .admin-bar & {
        top: 80px;
    }
}