.alignright {
    float: right;
    margin-bottom: 15px;
    margin-left: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
 text-align: center;
}

.d-flex {
  display: flex!important;
}

.align-items-center {
  align-items: center!important;
}

.justify-content-between {
  justify-content: space-between!important;
}

.reverse-block {
  flex-direction: row-reverse!important;
}

.text-center {
    text-align: center;
}

.column-center {
    float: none;
    margin: 0 auto;
}

.flex-reverse-row {
  display: flex;
  flex-direction: row-reverse;
}

.has-text-align-center {
  text-align: center;
}

.bottom-line {
    position: relative;
    padding-bottom: 15px;
    line-height: 1.2;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        display: block;
        border-bottom: 1px solid #d1da2b;
        width: 460px;
        max-width: 90%;
    }
}

hr.sep {
	border: none;
	border-top: 1px solid #d1db2d;
	width: 460px;
	max-width: 80%;
	margin: 18px auto 40px;
}
