.case-banner {
  background: $color-steelblue;
  color: $color-white;
  width: calc(120% - 30px);
  max-width: 1185px;
  margin: 75px auto;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
