.single-resource-banner {
  height: 220px;
  height: 
  .banner-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > p {
      width: 65%;
    }
  }

  .resource-topic {
    text-decoration: none;
  }
}
