.button {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    border: none;
    color: palette(brand, darkgrey);
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    position: relative;
    overflow: visible;
    font-family: $font-family-primary-sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-clip: padding-box;
    padding: 15px 30px;
    background: $color-bitterlemon;

    &:hover {
        background: #adb61f;
        color: palette(brand, darkgrey);
        text-decoration: none;
    }
    &:focus {
        background: #adb61f;
        color: palette(brand, darkgrey);
        text-decoration: none;
    }
    &:active {
        background: #adb61f;
        color: palette(brand, darkgrey);
        text-decoration: none;
    }
}

.button.button-blue {
    text-transform: none;
    color: palette(mono, white);
    padding: 15px 20px;
    text-align: center;
    background-color: #134f71;
    &:hover {
        background: #10354a;
        color: palette(mono, white);
    }
}
