.content-block {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative; */
  position: relative;

  .content-block-heading {
    color: #000;
  }

  .image-text-content {
    padding: 2em 0;
  }

  .image-text-block {
    position:  relative;
    display: flex;
    flex-wrap: wrap;

    .image-block {
      flex: 1;
      width: 40%;
      text-align: center;
    }

    .text-block {
      flex: 1;
    }

    &.reverse-block {
      .image-block {
        padding-left: 4em;
      }
    }
  }


  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -999px;
    width: 999px;
    background: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -999px;
    width: 999px;
    background: inherit;
  }

}

@media screen and (max-width:767px) {
  .content-block .content-block-body .image-content {
    text-align: center;
    margin-right: auto;
  }
}
