.content-block {

  .content-block-heading {
    color: $color-charcoal;
  }

  .content-block-body {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;

    &.reverse-block {
      flex-direction: row-reverse;

      .image-content {
        margin-left: 5em;
      }
    }
  }
}


