.content-block {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0;

  img {
    margin-right: 5em;
  }

  &.reverse-block {
    flex-direction: row-reverse;

    .image-block {
      margin-left: 5em;
    }
  }
}
