.content-block {
  margin: 4em 0;

  .content-block-heading {
    color: $color-charcoal;
  }

  &.images-block {
    display: flex;
    justify-content: centenr;
  }

  .content-block-body {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    .image-content {
      margin-right: 5em;
    }

    &.reverse-block {
      flex-direction: row-reverse;

      .image-content {
        margin-left: 5em;
      }
    }
  }
}


