.content-block {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative; */
  padding: 2em 0;

  .image-text-block {
    &.reverse-block {
      .image-block {
        margin-left: 3em;
      }
    }
  }

  &.datasheet-block:last-child {

    padding: 2em 0;
  }

    &:last-child {
      padding-bottom: 3em;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -999px;
      width: 999px;
      background: inherit;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -999px;
      width: 999px;
      background: inherit;
    }

    .content-block-heading {
      color: $color-charcoal;
    }

    &.image-text-block {
      &:first-of-type {
        margin-top: 50px;
      }
    }

    &.images-block {
      display: flex;
      justify-content: center;
    }

    .content-block-body {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .text-content {
        flex: 1;
        min-width: 300px;
      }

      .image-content {
        margin-right: 5em;
        flex: 1;

        img {
          max-width: 400px;
        }
      }
    }
    &.reverse-block {
      flex-direction: row-reverse;
    }
}

@media screen and (max-width:767px) {
  .content-block .content-block-body .image-content {
    text-align: center;
    margin-right: auto;
  }
}
