.content-block {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3.75em 0;

  > p {
    width: 100%;
    max-width: 780px;
  }

  .intro-text {
    max-width: 780px;
    width: 100%;
  }

  .block-heading {
    margin: 0;
    padding: 0;

    + .datasheet {
      margin-top: 2em;
    }

    + p {
      margin-top: 1em;
    }

    + .image-text-block {
      margin-top: 2em;
    }

  }

  .two-thirds-width {
    .text-block {
      width: 65%;
    }

    .image-block {
      width: 31%;
      max-width: 300px;
    }
  }

  .one-third-width {
    .text-block {
      width: 31%;
    }

    .image-block {
      width: 65%;
    }
  }

  .half-width {
    .text-block {
      width: 48%;
    }

    .image-block {
      width: 48%;
    }
  }

  .content-block-heading {
    color: $color-black;
  }

  img {
    width: 100%;
    max-height: 100%;
    max-width: 550px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -999px;
    width: 999px;
    background: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -999px;
    width: 999px;
    background: inherit;
  }
}

@media screen and (max-width: 375px ) {
  .content-block {
    padding: 2em 0 1em 0;
  }

  .content-block .block-heading + .image-text-block {
    margin-top: 0;
  }
}

@media screen and (max-width:767px) {
  .content-block {
    flex-wrap: wrap;
    margin: 0;
    padding: 2em 0 1em 0;

    p {
      width: 100%;
      text-align: center;
    }

    h2 {
      text-align: center!important;
    }

    .block-heading {
      margin: .5em 0 0 0;
      padding: 0;
    }

    .text-block {
      margin: 1em 0;
      width: 100%;
    }
    .image-block {
      width: 100%;
      text-align: center;
    }

    .image-text-block {
      flex-wrap: wrap;
    }

    .half-width {
     .text-block {
        width: 100%;
        order: 1;
      }

      .image-block {
        width: 100%;
        order: 2;
        margin: 0 auto;
      }
    }

    .two-thirds-width {
      .text-block {
        width: 100%;
        order: 1;
      }

      .image-block {
        width: 100%;
        order: 2;
        margin: 0 auto;
      }
    }
  }
}
