.content-block {
  position: relative;

  .content-block-heading {
    color: #000;
  }

  .image-text-content {

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -999px;
    width: 999px;
    background: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -999px;
    width: 999px;
    background: inherit;
  }
  }

  .image-text-block {
    position:  relative;

    .image-block {
      width: 40%;
      text-align: center;
    }

    &.reverse-block {
      .image-block {
        padding-left: 4em;
      }
    }
  }


  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -999px;
    width: 999px;
    background: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -999px;
    width: 999px;
    background: inherit;
  }

}

@media screen and (max-width:767px) {
  .content-block .content-block-body .image-content {
    text-align: center;
    margin-right: auto;
  }

  .image-text-content {
    flex-wrap: wrap;
  }

  .content-block {
    flex-wrap: wrap;
  }

  .content-block p {
    width: 100%;
  }

  .content-block h2 {
    text-align: center;
  }
}
