.content-block {

  margin: 2em 0;

  .content-block-heading {
    color: $color-charcoal;
  }

  .content-block-body {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    > div {
      margin: 0 2em;
      padding: 20px;
    }

    .image-content {
      margin-right: 5em;
    }

    &.reverse-block {
      flex-direction: row-reverse;

      .image-content {
        margin-left: 5em;
      }
    }
  }
}


