
.ui-datepicker {
    -webkit-box-shadow: 0 0 10px 0 palette(mono, dark);
    box-shadow: 0 0 10px 0 palette(mono, dark);
    font-size: 9pt;
    font-family: $font-family-primary;
    height: auto;
    margin: 5px auto 0;
    width: 216px;
    a {
        text-decoration: none;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    thead {
        background: -webkit-gradient(linear, left top, left bottom, from(palette(brand, lightgrey)), to(palette(brand, lightgrey))) repeat scroll 0 0 transparent;
        background: -webkit-linear-gradient(top, palette(brand, lightgrey) 0%, palette(brand, lightgrey) 100%) repeat scroll 0 0 transparent;
        background: -o-linear-gradient(top, palette(brand, lightgrey) 0%, palette(brand, lightgrey) 100%) repeat scroll 0 0 transparent;
        background: linear-gradient(to bottom, palette(brand, lightgrey) 0%, palette(brand, lightgrey) 100%) repeat scroll 0 0 transparent;
        border-bottom: 1px solid #bbb;
    }
    th {
        color: palette(mono, base);
        font-size: 6pt;
        padding: 5px 0;
        text-align: center;
        text-shadow: 1px 0 0 palette(mono, white);
        text-transform: uppercase;
    }
    tbody {
        td {
            border-right: 1px solid #bbb;
            border-top: 1px solid #bbb;
            padding: 0;
            &:last-child {
                border-right: 0 none;
            }
        }
        tr {
            border-bottom: 1px solid #bbb;
            &:last-child {
                border-bottom: 0 none;
            }
        }
    }
    td {
        a {
            color: palette(mono, base);
            display: inline-block;
            font-weight: bold;
            height: 30px;
            line-height: 30px;
            text-align: center;
            text-shadow: 1px 1px 0 palette(mono, white);
            width: 30px;
        }
        span {
            color: palette(mono, base);
            display: inline-block;
            font-weight: bold;
            height: 30px;
            line-height: 30px;
            text-align: center;
            text-shadow: 1px 1px 0 palette(mono, white);
            width: 30px;
        }
    }
}

.ui-datepicker-header {
    background-color: palette(mono, base);
    border-color: palette(mono, base);
    border-style: solid;
    border-width: 1px 0 0;
=    box-shadow: 0 1px 1px 0 palette(mono, light) inset;
    color: palette(brand, lightgrey);
    font-weight: bold;
    line-height: 30px;
    min-height: 30px !important;
    text-shadow: 1px -1px 0 palette(mono, white);
}

.ui-datepicker-title {
    text-align: center;
    select {
        margin-top: 2.5%;
    }
}

.ui-datepicker-next {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 600%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 30px;
    float: right;
    &:before {
        border-color: transparent palette(brand, lightgrey);
        border-style: solid;
        content: '';
        position: absolute;
        top: 30%;
        -webkit-transform: scale(1.001);
        -ms-transform: scale(1.001);
        transform: scale(1.001);
        border-width: 5px 0 5px 10px;
        right: 40%;
    }
}

.ui-datepicker-prev {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 600%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 30px;
    float: left;
    &:before {
        border-color: transparent palette(brand, lightgrey);
        border-style: solid;
        content: '';
        position: absolute;
        top: 30%;
        -webkit-transform: scale(1.001);
        -ms-transform: scale(1.001);
        transform: scale(1.001);
        border-width: 5px 10px 5px 0;
        left: 40%;
    }
}

.ui-datepicker-calendar {
    .ui-state-default {
        background: -webkit-gradient(linear, left top, left bottom, from(palette(brand, lightgrey)), to(#dedede)) repeat scroll 0 0 transparent;
        background: -webkit-linear-gradient(top, palette(brand, lightgrey) 0%, #dedede 100%) repeat scroll 0 0 transparent;
        background: -o-linear-gradient(top, palette(brand, lightgrey) 0%, #dedede 100%) repeat scroll 0 0 transparent;
        background: linear-gradient(to bottom, palette(brand, lightgrey) 0%, #dedede 100%) repeat scroll 0 0 transparent;
        -webkit-box-shadow: 1px 1px 0 0 palette(mono, base) inset;
        box-shadow: 1px 1px 0 0 palette(mono, base) inset;
    }
    .ui-state-hover {
        background: none repeat scroll 0 0 palette(brand, lightgrey);
    }
    .ui-state-active {
        background: none repeat scroll 0 0 palette(mono, white);
        border: 1px solid #c19163;
        -webkit-box-shadow: 0 0 10px 0 palette(brand, darkgrey) inset;
        box-shadow: 0 0 10px 0 palette(brand, darkgrey) inset;
        color: palette(mono, base);
        margin: -1px;
        position: relative;
        text-shadow: 0 1px 0 palette(mono, white);
    }
    td {
        &:first-child {
            .ui-state-active {
                margin-left: 0;
                width: 29px;
            }
        }
        &:last-child {
            .ui-state-active {
                margin-right: 0;
                width: 29px;
            }
        }
    }
    tr {
        &:last-child {
            .ui-state-active {
                height: 29px;
                margin-bottom: 0;
            }
        }
    }
}

.ui-datepicker-unselectable {
    .ui-state-default {
        background: none repeat scroll 0 0 palette(brand, lightgrey);
        color: palette(mono, light);
    }
}

td.ui-datepicker-unselectable.ui-state-disabled {
    background-color: palette(brand, lightgrey);
}

table.ui-datepicker-calendar {
    margin: 0 !important;
}
