.datasheet-block {
    background-color: $color-lightgrey-alt;

    h3 {
        margin-bottom: 12px;
        padding: 0;
    }
    p {
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        width: 60%;
        margin-bottom: 12px;
    }
    .datatable {
        width: 100%;
        border-collapse: collapse;
        font-size: .875rem;
        thead {
            color: $color-white;
            background-color: #103F59;
            text-align: center;
            th {
                padding: 8px;
            }
        }
        tbody {
            background-color: $color-white;
            td {
                padding: .3125em;
                border: 1px solid #CFCFCF;
                text-align: center;
                &:first-child {
                    font-weight: bold;
                }
            }
        }

        &:last-child {
          padding-bottom: 4em;
        }
    }
}

@media( max-width: 639px) {
  tr td:first-child {
      background-color: #103F59;
      color: #fff;
  }
  .tablesaw-cell-label {
      width: 50%;
  }
}
