.datasheet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5em 0;
    h3 {
        margin-bottom: 12px;
        padding: 0;
    }
    p {
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        width: 60%;
        margin-bottom: 12px;
    }
    .datatable {
        width: 100%;
        border-collapse: collapse;
        font-size: .875rem;
        thead {
            color: $color-white;
            background-color: #103F59;
            th {
                padding: 8px;
            }
        }
        tbody {
            background-color: $color-white;
            td {
                padding: .3125em;
                border: 1px solid #CFCFCF;
                text-align: center;
                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}

.content-section {
    width: 100%;
    margin: 0;
    padding: 60px 0;
    background-color: #e6e6e6;
    .row {
        display: flex;
        justify-content: center;
    }
    &:nth-child(even) {
        background-color: #fff;
    }
    .content {
        display: flex;
        justify-content: space-between;
        h3 {
            font-size: 1.625rem;
            font-weight: bold;
        }
        .content-text {
            padding-right: 50px;
            width: 50%;
        }
        .content-image {
            padding-left: 50px;
            width: 50;
        }
    }
    .datasheet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            margin-bottom: 12px;
            padding: 0;
        }
        p {
            text-align: center;
            font-size: 1rem;
            font-weight: 300;
            width: 60%;
            margin-bottom: 12px;
        }
        .datatable {
            width: 100%;
            border-collapse: collapse;
            font-size: .875rem;
            thead {
                color: $color-white;
                background-color: #103F59;
                th {
                    padding: 8px;
                }
            }
            tbody {
                background-color: $color-white;
                td {
                    padding: .3125em;
                    border: 1px solid #CFCFCF;
                    text-align: center;
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}