.site-footer {
    form {
        input[type=email] {
            width: 100% !important;
        }
        input[type=password] {
            width: 100% !important;
        }
        input[type=tel] {
            width: 100% !important;
        }
        input[type=text] {
            width: 100% !important;
        }
    }
    background: #383838 !important;
    padding-top: 40px;
    background: #f2f2f2;
    .newsletter {
        h4 {
            font-family: $font-family-primary-sans;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            font-size: 1.5rem;
            color: white;
        }
        p {
            font-family: $font-family-primary-sans;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            font-size: 1rem;
            color: white;
        }
    }
    #gform_4 {
        padding: 0 100px;
        .validation_error {
            color: white;
        }
        label {
            text-transform: none !important;
            padding-bottom: 10px;
            display: block;
        }
        .gform_body {
            .gfield_label {
                font-family: $font-family-primary-sans;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                font-size: 1rem;
                color: white;
                text-transform: none !important;
            }
            input {
                -webkit-box-shadow: none;
                box-shadow: none;
                background: #747474 !important;
                height: 40px;
                color: white;
                border: none !important;
                border-radius: 4px;
                background-clip: padding-box;
            }
            input[type=email] {
                width: 100%;
                border-radius: 4px;
                background-clip: padding-box;
            }
            input[type=submit] {
                margin-top: 30px;
                display: block;
                font-family: $font-family-primary-sans;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                font-size: 0.875rem;
                padding: 20px 60px;
                background: #d1db2d;
                color: $color-charcoal;
                &:hover {
                    background: #adb61f;
                }
            }
        }
    }
    .social-wrapper {
        text-align: center;
        padding: 40px 0 20px;
    }
}