.site-info {
    background: #252525 !important;
    padding-top: 35px;
    text-align: center;
    small {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 300;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        text-align: center;
        width: 100%;
        color: palette(mono, white);
        line-height: 1.4;
        a {
            color: palette(mono, white);
            text-decoration: none;
            &:hover {
                color: #d1db2d;
            }
        }
    }
}
