.related-article {
  background: #f4f4f4;
  padding: 50px 0;

  h5 {
    line-height: 1.5;
    font-weight: 700!important;
  }
}

.related-articles {
  background-color: #154865;
  &:hover {
      a {
          color: #154865;
      }
  }
  h2 {
      color: #fff;
  }
  ul {
      display: flex;
      flex-wrap: wrap;
      li {
          display: flex;
          a {
              display: flex;
          }
      }
  }
}
