// Fonts
@mixin Roboto {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Breakpoints
$breakpoints: ( 'xsmall': 600px, 'small' : 768px, 'medium': 992px, 'large' : 1024px) !default;
@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "+"Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

// Aspect ratio padding
@mixin aspect-ratio($width, $height) {
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
}