
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* $font-family-primary-sans: 'Roboto', sans-serif;
$font-family-primary-sans: Arial,'aktiv-grotesk-std', serif; */

$font-family-primary-sans: 'Open Sans', sans-serif;

$base-font-size: 16px;

$h1-font-size: 2 * $base-font-size !default;
$h2-font-size: 1.75 * $base-font-size !default;
$h3-font-size: 1.5 * $base-font-size !default;
$h4-font-size: 1.375 * $base-font-size !default;
$h5-font-size: 1.25 * $base-font-size !default;
$h6-font-size: 1.125 * $base-font-size !default;
