@import 'abstracts/typography';
@import 'abstracts/colors';

palettes(mono, white): #ffffff;
$color-black: #000000;

$color-grey: #d4d4d4;
$color-darkgrey: #666666;
$color-lightgrey: #f2f2f2;
$color-lightgrey-alt: #e8e8e8;

$color-steelblue: $color-primary-blue;
$color-steelblue-dark: $color-primary-blue;

$color-charcoal: $color-darkgrey;

$color-yellow: $color-primary-yellow;

