//////////////////////////////////
//////     BANNER & NAV     //////
//////////////////////////////////

// ----- top banner
.top-banner{
	background: $black!important;
	padding-top: 10px;
	padding-bottom:10px;
	text-align: right;
	position: fixed;
	left:0px;
	right: 0px;
	top:0px;
	z-index: 200;
	.admin-bar &{
		  top: 32px; /* adjusted for admin bar */
	}
	#utility-nav{
		display: inline-block;
		font-size: 1rem;
		list-style: none;
		margin: 0;
		padding:0;
		> li {
			display: inline-block;
			vertical-align: top;

			> a{
				@include aktiv();
				color:white;
				font-size: 14px;
				&:hover{
					color:$green;
				}
			}
		}
	}
	#lang_sel {
		text-align: left;
		height: auto;
		position: relative;
		top: 2px;

		a, a:hover {
			@include ease(0s);
		}
	}
}

// ----- utility menu
.menu-utility-menu-swedish-container,
.menu-utility-menu-container, {
	display: inline-block;
}

#utility-nav {
	li {
		+ li {
			margin-left: 20px;
		}
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}
}

.site-header {
	@include aktiv(700);
	font-size: 1rem;
	height: 100px;
	position: fixed;
	left:0px;
	right: 0px;
	top:48px;/* The height of the .top-banner above the site-header */
	.admin-bar &{
		  top: 80px; /* top adjusted for admin bar */
	}
	padding:20px 0px;
	z-index: 100;
	.row {
		@include aktiv(700);
		font-size: 1rem;
	}
}

.menu-main-menu-swedish-container,
.menu-main-menu-container {
	@include aktiv(700);
	font-size: 1rem;
	vertical-align:middle;
}

.site-branding {
	padding-top: 4px;
}

// ----- main menu
#site-navigation {
	@include aktiv(700);
	font-size: 1rem;
	text-align: right;
}

#main-nav {
	background: none;
	display: inline-block;
	font-size: 0;
	margin:0;
	padding: 0;
	text-align: right;
	position: relative;
	z-index: 2;
	padding-top:10px;
	> li {
		@include inline-block;
		background: none;
		padding: 0;
		vertical-align: top;
		@include transition(0.3s, ease);

		+ li {
			// margin-left: 20px;
		}
		&:hover {
			> .sub-menu {
				opacity: 1;
				@include transition(0.5s, ease);
				visibility: visible;
				li {
					height: 39px; // measure your li height and make that this pixel value
					&:hover {
						.sub-menu {
							opacity: 1;
							@include transition(0.5s, ease);
							visibility: visible;

							li {
								height: 39px;
							}
						}
					}
				}
			}


			> a {
				background: $black;
				color: $green;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	li{
		&:last-child{
			a{
				background:$green;
				&:hover{
					background: darken($green,10%);
				}
			}
		}
	}

	a {
		@include aktiv(700);
		@include font-size(16);
		@include inline-block;
		color: $maintext;
		padding: 10px 20px;
		margin:0 5px;
		background: none;
		@include rounded(4px);
		&:hover{
			color: $blue;
		}
	}

	.sub-menu {
		margin: 0;
		opacity: 0;
		padding: 0;
		position: absolute;
		text-align: left;

		@include transition(0.25s, ease);
		visibility: hidden;
		z-index: 1;
		li {
			background: black;
			display: block;
			position: relative;
			@include transition(0.5s, ease);
		}
		li {
			height: 0;
		}
		a {
			width: 175px;
		}
		.sub-menu {
			top: 0;
			left: 100%;
		}
	}
}


// Mobile Menu
.mobile-nav-container {
	display: none;
}

$mobile-color: $black;

.burger-trigger {
	background: none;
	display: none;
	height: 65px;
	padding-top: 4px;
	position: absolute;
	top: $gutter;
	right: $gutter;
	text-align: center;
	text-decoration: none;
	width: 65px;
	&:focus {
		outline: none;
	}
	span {
		@include opacity(1);
		@include rotation(0deg);
		@include rounded(2px);
		@include transition(0.1s);
		background: $black;
		display: block;
		height: 3px;
		margin: 12px auto 0;
		position: relative;
		top: 0;
		width: 70%;
		transform-origin:50% 50%;
		transform-origin:50% 50%;
		-webkit-transform-origin:50% 50%;
	}
	&.open {
		span:nth-child(1){
			top: 15px;
			width: 60%;
			@include rounded(4px);
			@include rotation(-45deg);
		}
		span:nth-child(2) {
			width:0;
		}
		span:nth-child(3){
			@include rotation(45deg);
			width: 60%;
			top: -15px;
			@include rounded(4px);
		}
	}
}



.full-width-trigger {
	display: none;
	margin-bottom: 15px;
	position: relative;
	text-align: center;
	a {
		@include font-size(20);
		background: $mobile-color;
		color: white;
		display: block;
		font-weight: bold;
		padding: 20px 0;
		text-decoration: none;
		text-transform: uppercase;
		&.open {
			&:before {
				content: 'Close ';
			}
			+ span {
				@include rotation(360deg);
			}
		}
		&:hover {
			background: shade($mobile-color,10%);
		}
	}
}

.menu-slide {
	@include ease(0.2s);
	@include font-size(32);
	@include rounded(50%);
	background: url(../../images/menu-slide.png) no-repeat center 58% shade($mobile-color, 10%);
	color: white;
	cursor: pointer;
	height: 35px;
	line-height: 1;
	position: absolute;
	top: 12px;
	right: 2%;
	@include rotation(180deg);
	width: 35px;
}
#mobile-utility-nav{
	border-top: 2px solid shade($mobile-color,10%);
}
#mobile-nav, #mobile-utility-nav {
	@include transition;
	background: $mobile-color;
	list-style-type: none;
	margin: 0;
	// overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 5;

	> li {
		@include transition;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		+ li {
			border-top: 2px solid shade($mobile-color,10%);
		}
		&.call-to-action {
			background: shade($mobile-color, 40%);
		}
		> a {
			@include font-size(20);
			color: white;
			display: block;
			font-weight: bold;
			padding: 20px 0 17px;
			&:hover {
				background: shade($mobile-color, 10%);
				text-decoration: none;
			}
		}
	}
	.menu-slide {
		&.open {
			// top: 23px;
			@include rotation(360deg);
		}
	}
	.sub-menu {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			background: shade($mobile-color, 20%);
		}
		.sub-menu {
			li {
				background: shade($mobile-color, 30%);
			}
		}
	}

	&.aside {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
	#lang_sel {
		text-align: left;
		height: auto;
		position: relative;
		top: 2px;
		padding-top: 20px;
		padding-bottom: 17px;

		a, a:hover {
			@include ease(0s);
		}
	}
}

.mobile-nav-container {
	a {
		color: white;
		display: block;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
	.contact-phone,
	.contact-email {
		@include font-size(20);
		display: block;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		a {
			padding: 20px 0;
		}
	}
	.contact-phone {
		@include ease;
		background: url(../../images/icon-phone.png) no-repeat 5% center shade($mobile-color, 10%);
		color: white;
		&:hover {
			background: url(../../images/icon-phone.png) no-repeat 5% center shade($mobile-color, 20%);
		}
	}
	.contact-email {
		@include ease;
		background: url(../../images/icon-email.png) no-repeat 5% center shade($mobile-color, 20%);
		&:hover {
			background: url(../../images/icon-email.png) no-repeat 5% center shade($mobile-color, 30%);
		}
	}
	.social-menu {
		background: $mobile-color;
		li {
			@include ease;
			padding-top: 15px;
			text-align: center;
			&:hover {
				background: shade($mobile-color,10%);
			}
			+ li {
				border-left: 2px solid shade($mobile-color,10%);
			}
		}
		a {
			@include font-size(42);
		}
	}
	[class*="block-grid-"] {
		margin-right: 0;
		margin-left: 0;
	}
	.block-grid-2 {
		li {
			&:nth-of-type(2n+1) {
				border-left: none;
			}
		}
	}
}
