///////////////////////////////
//////     MEDIA Q'S     //////
///////////////////////////////
@media screen and (max-width:1100px){
	.homepage-hero{
		[class*="columns-"]{
			@include resized-columns(6);
		}
	}
	#main-nav{
		li{
			a{
				padding:10px;
				margin:0;
			}
		}
	}
}
@media screen and (max-width:1100px){
	.tax-product_cat{
		.product-featured{
			text-align: center;
			[class*="columns-"]{
				@include resized-columns(12);
				.featured-content{
					transform:none!important;
					-moz-transform:none!important;
					-webkit-trasform:none!important;
					position: static;
					top:0;
					margin:auto;
					width: 65%;
				}
				img{
					max-width: 500px;
					margin-bottom:25px;
					width: 100%;
				}
			}
			.featured-content{
				@include translate(0,0);

			}
		}
	}
	.single-product{
		.summary-height{
			>.row{
				[class*="columns-"]{
					@include resized-columns(12);
					position: relative;
					.images{
						text-align: center;
						margin-bottom:25px;

						.flex-video {
							text-align: left;
						}
					}
				}
			}
			.summary{
				text-align: center;
			}
		}
	}
}
@media screen and (max-width:1070px){
	//Landing Page
	.page-template-pages_landing-php {
		.banner-content,
		.banner-form {
			@include resized-columns(12);
		}
		.banner-form {
			.form-wrap {
				position: static;
			}
		}
		.secondary-content {
			padding-top: 0;
		}
	}
}
@media screen and (max-width:1050px){
	.homepage-hero{
		padding:80px 0px;
		background-position: top!important;
		[class*="columns-"]{
			@include resized-columns(12);
		}
		.hero-wrapper{
			text-align: center;
			padding-bottom:25px;
		}
		.hero-content{
			width: 70%;
			margin: auto;
			text-align: center;
		}
	}
	.homepage-case-study{
		padding:40px 0px;
		.case-image-col, .case-content-col{
			@include resized-columns(12);
			.case-content{
				transform:none;
				-moz-transform:none;
				-webkit-transform:none;
				top:0;
				position: static;

			}
			.case-frame{
				margin:auto;
				max-width:450px;
				width: 100%;


			}
		}
		.case-image-col{
			padding-top:25px;
		}
		.case-content-col{
			padding-top:65px;
			text-align: center;
			.case-content{
				margin: auto;
			}
		}
	}
	.single-case-studies{
		.case-info-wrapper{
			.columns-2{
				@include resized-columns(3);
			}
		}
	}
	.blog, .search, .archive {
		article{
			.columns-1{
				@include resized-columns(2);
			}
			.columns-2{
				@include resized-columns(3);
			}
			.columns-8{
				@include resized-columns(7);
			}
		}
	}
	.blog-search-form  {

		[class*='columns-'] {
			left: 0;
		}

		.columns-2 {
			@include columns-class(3);
		}

		.keyword-column,
		.resource-types-column,
		.resource-topics-column,
		.resource-languages-column {
			@include columns-class(3);
		}

		.submit-column {
			padding-left: $gutter;
			@include columns-class(12);
			text-align: center;
		}
	}
	.single-post {
		.post-intro {
			@include columns-class(10);
			float: none;
			margin-left: auto;
			margin-right: auto;
			left: 0;
		}
	}
	.page-template-pages_contact-php {
		.contact-info-wrap {
			.grid-container {
				@include resized-columns(12);
			}
			.numbers {
				> li {
					.label,
					.number {
						display: block;
						float: none;
						width: 100%;
					}
				}
			}
		}
	}
}

@media screen and (max-width:1020px) {
	//Landing Page
	.page-template-pages_landing-php {
		.main-content,
		.secondary-content {
			@include resized-columns(12);
		}

		.secondary-content {
			padding-top: 20px;
		}
	}
}

@media screen and (max-width:950px){
	.cpt-search{
		>.row{
			[class*="columns-"]{
				@include resized-columns(12);
				.sidebar-inner{
					margin-bottom:0;
					padding-bottom:0;
					text-align: center;
					&:before, &:after{
						background: none;

					}
					ul{
						margin-bottom: 0;
						&:after{
							background: none;
						}
					}
					form{
						text-align: center;
						margin-bottom:10px!important;
						input{
							float:none!important;
						}
						#searchform{
							margin-bottom:5px;
						}
						#searchsubmit{
							left: -4px;
						}
					}
				}
			}
			.columns-4{
				padding:0;
			}
		}
	}
	.woocommerce-cart{
		.cart{
			.actions{
				.coupon{
					width: 100%;
					margin-bottom:15px;
				}
				>.button{
					float: left;

				}
				.checkout-button{
					margin-left: 15px;
				}
			}
		}
	}
	.woocommerce-account{
		#customer_login{
			[class*="columns-"]{
				@include resized-columns(12);
				.login-wrapper{
					padding:45px;
				}
			}
		}
	}
	.single-docs {
		.callout {
			.callout-title {
				@include font-size(24);
			}
			p {
				@include font-size(16);
			}
		}
	}
}
@media screen and (max-width:850px){
	//Landing Page
	.page-template-pages_landing-php {
		.resource-list {
			.image-holder {
				display: none;
			}
			.content-holder{
				@include resized-columns(12);
				&.has-image:before {
					position: static;
					display: block;
					width: 100%;
					margin-bottom: 20px;
					min-height: 150px;
				}
			}
		}
	}

	.page-template-_support-dev {
		.product-grid {
			@include block-reset();
			@include block-grid(3);
		}
	}
}
@media screen and (max-width:800px){
	#main-nav{
		li{
			a{
				margin:0!important;
				@include font-size(14);
			}
		}
	}
	.single-post{
		.back-nav-wrapper{
			.social-sharing{
				display: block;
				padding-left: 0!important;
				padding-top:15px;
			}
		}
	}
}
@media screen and (max-width:768px){

	#main{
		margin-top: 100px;
	}
	// header
	.top-banner {
		display: none;
	}

	.menu-main-menu-swedish-container,
	.menu-main-menu-container {
		display: none;
	}

	.fs-mobile-trigger, .full-width-trigger {
		display: block;
	}
	.site-header{
		min-height: 100px;
		height: auto;
		top:0px;
		.admin-bar &{
			top: 46px; /* adjusted for admin bar */
		}
	}
	// pages
	.site-content,
	.widget-area {
		@include columns(12);
	}
	.site-branding{
		@include resized-columns(10);
		img{
			padding-bottom:0;
			max-width: 200px;
			padding-top:5px;
		}
	}
	.homepage-intro{
		[class*="columns-"]{
			@include resized-columns(12);
		}
	}
	.homepage-blog{
		.blog{
			width: 100%;
			margin: auto;
			float: none;
			margin-bottom:25px;
			max-width: 400px;
		}
	}
	.homepage-testimonial{
		[class*="columns-"]{
			@include resized-columns(10);
			.testimonial-wrapper{
				p{
					&:before{
						left:-35px;
					}
					&:after{
						right:-35px;
					}
				}
				.citation{
					@include font-size(20);
				}
			}
		}
	}
	.double-full-width{
		&:before, &:after{
			background: none;
			position: static;
		}
		[class*="columns-"]{
			@include resized-columns(12);
			margin-bottom:0;
			padding-bottom:0;
		}
	}
	.get-in-touch{
		.get-in-wrapper{
			padding:70px 50px;
		}
	}
	.site-footer{
		[class*="columns-"]{
			@include resized-columns(12);
			#footer-nav{
				text-align: center;
				li{
					a{
						@include font-size(20);
					}
				}
			}
		}
	}
	.page-banner{
		
		padding-bottom: 0;

		[class*="columns-"]{
			@include resized-columns(12);
		}

		.sale-callout-image
		{
			padding-top: 40px;
			position: relative;
		}
	}
	.product-categories{
		[class*="columns-"]{
			@include resized-columns(12);
		}
	}

	.tax-product_cat{
		.product-featured{

			[class*="columns-"]{

				.featured-content{

					width: 95%;
				}

			}
		}
		.prodcuts-wrapper{
			.products{
				.product{
					width: 50%;
					&:nth-child(3n+1){
						clear: both;
					}
				}
			}
		}
	}
	.page-template-pages_case-studies-php{
		.case-studies{
			.case-study{
				.image-case{
					@include resized-columns(12);
					img{
						margin-bottom:15px;
					}
				}
				[class*="columns-"]{
					@include resized-columns(12);
					.case-content-wrapper{
						transform:none;
						-moz-transform:none;
						-webkit-transform:none;
						top:0;
						position: static;
						width: 65%;
						text-align: center;
						margin:auto;
					}
				}
			}
		}
	}
	.page-template-pages_about-php{
		.location-highlights{
			[class*="columns-"]{
				@include resized-columns(12);
			}
			.highlight-year{
				text-align:left;
			}
			.highlight-title{
				padding-top:25px;
			}
		}
	}
	.page-template-pages_partners-php{
		.partners{
			.partner{
				width: 100%!important;
			}
		}
	}
	.page-template-pages_careers-php{
		.careers{
			[class*="columns-"]{
				@include resized-columns(12);
			}
		}
	}
	.single-careers{
		[class*="columns-"]{
			@include resized-columns(12);
		}
	}
	.single-post {
		.post-intro {
			.featured-image {
				float: none;
				max-width: 100%;
				padding: 0 0 30px 0;
				margin: 0 0 15px !important;
			}
		}
	}
	.single-docs {
		.docs-navigation,
		.main-content {
			@include resized-columns(12);
		}
		nav {
			> ul {
				margin-bottom: 40px;
			}
		}
		.callout {
			margin-bottom: 40px;
		}
	}

	.blog, .search, .archive {
		article{
			.columns-1{
				display: none;
			}
			.columns-2{
				@include resized-columns(3);
			}
			.columns-8{
				float: right;
				@include resized-columns(9);
			}
			h2 {
				padding-bottom: 10px;
			}
			.mobile-date {
				display: block;
			}
		}
	}
	.single-post {
		.post-intro {
			@include columns-class(11);
		}
		.back-nav-wrapper {
			.back-to {
				float: none;
				text-align: center;
				display: block;
			}
			.social-sharing {
				text-align: center;
			}
		}
		.navigation-post {
			.nav-previous {
				max-width: none;
				padding-bottom: 15px;
			}
			.nav-next {
				max-width: none;
			}
		}
	}
	.author-block {
		.columns-3 {
			@include columns-class(12);
			float: none;
		}
		.columns-8 {
			@include columns-class(12);
			float: none;
			text-align: center;
		}
		.author-headshot {
			width: 150px;
			height: 150px;
			padding-bottom: 15px;
			margin: 0 auto;
		}
	}
	.realted-article {
		.block-grid-3 {
			@include block-reset(3);
			@include block-grid-class(1);
		}
	}
	.blog-search {
		@include columns-class(12);
		float: none;
		margin: 0 auto 15px;
	}
	#searchform {
		.columns-9, .columns-3 {
			float: none;
			margin: 0 auto 15px;
		}
		.columns-9 {
			@include columns-class(12);
		}
		.columns-3 {
			@include columns-class(12);
		}
	}

	// ----- new resources
	.resources-results {
		.columns-10 {
			width: 100%;
		}
	}
}

@media screen and (max-width:695px){
	.page-template-_support-dev {
		.term-nav-list {
			@include block-reset();
			@include block-grid(1);
			margin: 35px 0 40px;

			li {
				border-left: none;
				border-right: none;
				border-top: 1px solid $darkgreen;
				border-bottom: 1px solid $darkgreen;

				&:first-child {
					border-top: none;
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
	.single-docs {
		.heading-wrap,
		.select-wrap {
			@include resized-columns(12);
		}
	}
}
@media screen and (max-width:650px){
	.single-case-studies{
		.case-info-wrapper{
			padding:50px;
			[class*="columns-"]{
				@include resized-columns(12);
			}
		}
		.content-area{
			[class*="columns-"]{
				@include resized-columns(12);
				img{
					margin-bottom:10px;
				}
				.single-case-content-wrapper{
					transform:none;
					-moz-transform:none;
					-webkit-transform:none;
					top:0;
					position: static;
					width: 65%;
					text-align: center;
					margin:auto;
				}
			}
		}
	}
	.support-redirect{
		padding:35px 100px!important;
	}
	.blog, .archive{
		.category-list{
			padding: 0 $gutter;
			li{
				width: 100%;
				clear:none;
				margin-bottom: 10px;
				a {
					border: 1px solid #414141;
				}
			}
		}
	}
	.woocommerce-account{
		#customer_login{
			[class*="columns-"]{
				@include resized-columns(12);
				.login-wrapper{
					padding:45px 15px;
				}
			}
		}
	}
	//Landing Page
	.page-template-pages_landing-php {
		.landing-banner {
			padding-left: 0;
			padding-right: 0;
		}
		.content-area {
			padding-left: 0;
			padding-right: 0;
		}
		.resources-intro {
			@include resized-columns(10);
		}
		.resources-wrapper {
			@include resized-columns(12);
		}
	}

	// ----- new resources
	.resources-results {
		.block-grid-3 {
			> li {
				width: 100%;
			}
			hr {
				display: none;
			}
		}
	}
}
@media screen and (max-width:600px){
	.homepage-hero{
		padding:40px 0px;
		.hero-content{
			width: 90%;
			margin: auto;
			text-align: center;
		}
	}
	.homepage-case-study{
		.columns-6{
			@include resized-columns(12);
		}
	}
	.get-in-touch{
		padding:25px 0px;
		[class*="columns-"]{
			@include resized-columns(12);
		}
		.get-in-wrapper{
			padding:70px 25px;
		}
	}
	.gform_wrapper{
		.ginput_left, .ginput_right{
			width: 100%!important;
			float: none!important;
		}
		.gfield{
			width: 100%;
		}
	}
	.support-redirect{
		padding:35px 50px!important;
	}
	.page-template-pages_about-php{
		.people{
			li{
				width: 50%;
				clear:none;
			}
		}
	}
	.woocommerce-cart{
		.cart{
			.product-thumbnail{
				display: none;

			}
			tr{
				td, th{
					@include font-size(12);
				}
			}
		}
	}
	.woocommerce-checkout{
		.woocommerce-billing-fields, .woocommerce-shipping-fields{
			p{
				width: 100%;
				padding:0px 15px 15px;
			}
		}
	}

	.page-template-pages_contact-php {
		.contact-info-wrap {
			.contact-info {
				@include block-grid(1);
				>li {
					padding-bottom: 30px;
					text-align: center;
				}
			}
		}
	}

	.blog, .search, .archive {
		article{
			.columns-2{
				float: none;
				@include resized-columns(12);
				margin-bottom: 15px;
			}
			.columns-8{
				float: none;
				@include resized-columns(12);
			}
		}
	}

	.blog-search-form  {
		[class*='columns-'] {
			width: 100% !important;
			padding: 0 $gutter 10px !important;
		}
	}
}
@media screen and (max-width:500px){
	.blog{
		.category-list{
			li{
				width: 50%;
				clear:none;
			}
		}
		.blog-search {
			@include resized-columns(10);
		}
	}
	.single-post{
		.content-area{
			[class*="columns-"]{
				@include resized-columns(12);
			}
		}
	}
	.page-template-pages_about-php{
		.partners-callout{
			[class*="columns-"]{
				@include resized-columns(12);
				padding-bottom:25px;
			}
		}
	}
	.page-template-pages_partners-php{
		.partners{
			.partner{
				padding-bottom:35px;
				[class*="columns-"]{
					@include resized-columns(12);
				}
			}
		}
	}
	.woocommerce-account{
		.shop_table{
			.order-status{
				display: none;
			}
			td,th{
				@include font-size(12);
			}

		}
	}
	.woocommerce-cart{
		.actions{
			.coupon{
				label{
					display: block!important;
				}
				input[type="text"]{
					width: 100%!important;
					max-width: 100%!important;
					margin-bottom:5px;
				}

			}
			.button{
				width: 100%;
				max-width: 100%!important;
				margin:0!important;
				margin-bottom:15px!important;
			}
		}
		.cart_totals{
			width: 100%;
		}
	}
	.page-template-pages_case-studies-php{
		.case-studies{
			.case-study{
				.case-content-wrapper{
					width: 100%!important;
				}
			}
		}
	}
	.single-case-studies{
		.single-case-content-wrapper{
			width: 100%!important;

		}
		.case-info-wrapper{
			padding:50px 25px!important;
		}
	}
	.page-template-_support-dev {
		.product-grid {
			@include block-reset();
			@include block-grid(2);
		}
	}
}
@media screen and (max-width:450px){
	.homepage-case-study{
		.case-frame{
			.circle-1{
				left:10px;
			}
			.circle-2{
				bottom:-65px;
				right:0px;
			}
			.circle-3{
				left:23px;
			}
			.circle-4{
				left:88px;
				bottom:-60px;
			}
		}
		.case-content-col{
			.case-content{
				width: 100%;
			}
		}
	}
	.product-categories{
		.product-category{
			.button{
				@include font-size(10);
				font-size: 10px!important;
			}
		}
	}
	.tax-product_cat{
		.prodcuts-wrapper{
			.products{
				.product{
					width: 100%;

				}
			}
		}
	}
	.single-product{
		.tabs{
			.slider-thumbs{
				li{
					width: 100%;
				}
			}
			.tab-slider{
				.slides{
					li{
						padding:15px;
					}
				}
			}
		}

		.summary-height > .row > .columns-6::after
		{
			width: 155px;
			height: 164px;
			background-size: 150px;
		}
	}
	.support-redirect{
		padding:35px!important;
	}
	.page-template-pages_about-php{
		.people{
			li{
				width: 100%;
				clear:none;
			}
		}
	}
	.woocommerce-account{
		#customer_login{
			[class*="columns-"]{
				.login-wrapper{
					.inline{
						display: block;
						width: 100%;
					}
					.lost_password{
						display: block;
						text-align: left;
						padding-top:10px;
					}
				}
			}
		}
	}

	.blog-search #searchform {
		#s {
			width: 100% !important;
			margin-bottom: 10px;
			float: none;
		}
		#searchsubmit {
			width: 100% !important;
			float: none;
		}
	}
	.page-template-pages_contact-php{
		.formInputBlock, .formInputBlock, textarea{
			max-width: 250px!important;
		}
	}
}
@media screen and (max-width:400px){
	.homepage-hero{
		.hero-content{
			.button{
				display: block;
				margin-bottom:20px;
			}
		}
	}
	.homepage-intro{
		.button{
			display: block;
			margin-bottom:20px;
		}
	}
	.page-template-_support-dev {
		.product-grid {
			@include block-reset();
			@include block-grid(1);
		}
	}
}
