.top-banner{
	background: $blue;
}

.site-header {
	background: #f2f2f2;
}

#secondary {
	background: #f2f2f2;
	padding: 15px;
	.panel {
		
	}
}

.site-footer {
	background: #f2f2f2;
}

.blocks [class*="block-grid-"] > li {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #999999;
    padding-bottom: 5px;
    padding-top: 5px;
}