//////////////////////////////////////
//////         COLORS         ////////
//////////////////////////////////////

// Main Text Color
$maintext: #303232;
$green:#d1db2d;
$blue: #2ba6cb;
$black: #303232;
$red: red;
$lightblack:#383838;
$footerblack:#252525;

$darkgreen: #313232;

$darkblue:#115071;
$darkerblue:#154865;
$partnerblue:#125071;
$gray:#747474;
$grayer:#787878;
$lightgray:#f4f4f4;
$ubergray: #c2c2c2;
$bloggray:#414141;
$bordergray: #d4d4d4;
$moargray: #eaeaea;
$ohmoargray: #e2e2e2;
$faqgray: #bcbec0;
$redonkgray: #808285;

$currentnavgray: #dddede;

$white: white;
$offwhite: #f1f1f1;
$calloutwhite: #f5f5f5;


// $primary:
// $secondary:383838